body{
    margin: 0;
    padding: 0;
}
.list{
    width: 600px;
    list-style: none;
    margin: 50px auto;
    font-size: 13px;
    color: aquamarine;
}
.list li{
    float: left;
    text-align: center;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding:0;
    background-color: black;
}
